.error {
    color: red
}

form {
    display: grid;
}
.filled {
    color: yellow;
}

.unfilled {
    color: grey;
}

.fa-star {
    cursor: pointer;
}

.starsLabel {
    display: flex;
}

.createRvwH1 {
    padding: 0 10px 0 10px;
    text-align: center;
}

.createRvwSubmit {
    margin-bottom: 8px;
}
