.imageTextAreas {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}

.imageUrl {
    padding: 5px 0px;
}

.error {
    color: red;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
}

h2 {
    align-self: center;
}

h3 {
    align-self: center;
}

.where {
    text-align: center;
}

form {
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-content: justify;
    justify-content: justify;
    text-align: justify;
    max-width: 330px;
}

.postForm {
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-content: justify;
    justify-content: justify;
    text-align: justify;
    max-width: 330px;
}

div {
    align-self: center;
    text-align: justify;
}

label {
    /* align-self: center; */
    align-content: center;
    text-align: justify;
}

p {
    align-self: center;
    text-align: justify;
}

button {

}

.address {
    text-align: justify;
}

hr {
    border-bottom: 1px black solid;
    width: 100%;
    margin-top: 25px;
}

.latLngDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cityStateDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#createButton {
    display: flex;
    align-self: center;
    justify-self: center;
}

.createDiv {
    text-align: center;
}



button:hover {
    cursor: pointer;
}
