#confirm {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.deleteSpotP {
    padding: 0px 20px;
    margin-top: 0
}

#YDeleteSpotDiv {
    text-align: center;
    align-self: center;
}

#NDeleteSpotDiv {
    text-align: center;
    align-self: center;

}

#YDeleteSpotBtn {
    background-color: rgb(221, 7, 7);
    border-radius: 4px;
    width: 250px;
    font-size: 14px;
    height: 40px;
}

#NDeleteSpotBtn {
    background-color: grey;
    align-self: center;
    border-radius: 4px;
    width: 250px;
    font-size: 14px;
    height: 40px;
    margin-bottom: 8px;
}
