.spots-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(250px, 100%/4)), 1fr));
    margin-left: 0px;
}

.tile {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}

.userSpotTile {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.location {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
i {
    align-self: flex-end;
}
.spotUl{
    margin: 0;
    padding: 0;
}
.price {
    display: flex;
    justify-content: left;
    width: 100%;
}

.homeSpotImage {
    height: 24vh;
    width: 24vw;
}

.userSpotsBtnDiv {
    display: flex;
}

/* userSpots */
.MngSpotsCreateBtn {
    align-self: start;
    width: 143px;
    margin-right: 10px;
    background-color: gray;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 2px black;
}

.userSpotsUl {
    padding: 0;

}
