section {

}

.card {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: left;
}

.img-container {
    padding-left: 0px;
    display: flex;
    grid-auto-flow: column;
    max-width: fit-content;
    /* display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}

.infoBox {
    border: solid 1px;
    border-radius: 3px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info {
    margin: 2px 10px;
    justify-content: end;
}

.hostName {
    width: 100%;
    text-align: start;
    justify-content: start;
    align-self: flex-start;
    padding-bottom: 5px;
}
button {
    margin: 2px 10px;
}

h3 {
    width: 98vw;
}

.previewImg {
    height:40vh;
    width: 40vw;
    order: 1;
}

.otherImg {
    order: 2;
    height:20vh;
    width: 20vh;
    margin: 2px 2px;
}

li {
    list-style-type: none;
}

.reserveBtn {
    background-color: brown;
    border-radius: 4px;
    box-shadow: 2px 2px 2px brown;
}


.reviewSection {
    border-top: 2px solid black;
}

h1 {
    text-align: start;
}

h3 {
    text-align: start;
    justify-self: flex-start;
}

header {
    margin: 10px 0px;
}

.reviewOwner {
    margin: 0 0 0 5px;
}

.reviewDate {
    color: rgba(84, 84, 84, 0.605);
    margin: 0 0 4px 5px;
}
.descriptionDiv {
    display: flex;
    justify-content: space-between;
    width: 98vw;
}
.description {
    display: flex;
}
.border {
    border-top: 1px dashed grey;
}
.review {
    font-size: 12px;
    margin-top: 3px;
    padding-top: 2px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.reviewCard {
    border: 3px solid rgb(110, 121, 151);
    border-radius: 10px;
    padding-top: 10px;
    background-color: rgb(188, 202, 239);
    box-shadow: -6px 6px 5px rgb(188, 202, 239);
}

.review-container {
    padding-top: 10px;
}

.delRvwBtnCont {
    border-radius: 4px;
    box-shadow: -2px 2px 2px black;
    margin-bottom: 5px;
}
