.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    height: 2vh;
    border-bottom: 1px solid grey;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 12px;
}

.fa-airbnb {
    color: rgb(228, 7, 7);
}

.profile-btn {
    width: 40px;
    margin: 5px 12px 0 0;
}
.navUl {
    padding: 0px;
    margin: 0px
}
.leftHandNav {
    padding-left: 0px;
    margin-left: 0px;
}

.createAndButton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    width: fit-content;
    position: static;
    justify-self: flex-end;
}

.spotForm {
    align-self: end;
    margin-right: 10px;
    background-color: gray;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 2px black;
}

.profile-btn {
    width: 100%;
    border-radius: 4px;
}

.profile-container {
    position: relative;
    width: fit-content;
}

.profile-dropdown {
    right: calc(100% - 41px);
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    margin: 0;
    padding: 4px;
    justify-content: center;
    background-color: white;
    box-shadow: -3px 3px 3px #121212;
    flex-wrap: nowrap;
}

.email {
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.name {
    font-size: 11px;
    text-align: center;
}

.manageDiv {
    text-align: center;
    display: flex;
    margin-bottom: 3px;
}

.manage {
    font-size: 11px;
    text-align: center;
    padding: 0 2px 0 2px;
    border: 1px solid black;
    background-color: gray;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

.pfList {
    justify-content: center;
}

.logoutDiv {
    text-align: center;
    display: flex;
}

.logoutBtn {
    font-size: 11px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    padding: 0 19px 0 19px;
    border: 1px solid black;
    background-color: gray;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

.login-dropdown {
    position: absolute;
    width: 59px;
    left: -28px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px
}

#signinDiv {
    font-size: 8px;
}

#loginDiv {
    font-size: 8px;
}

.openModalDiv {
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 4px 2px;
    background-color: gray;
    box-shadow: -2px 2px 2px black;
    cursor: pointer;
}

.deleteUserSpotButton {
    border: 1px black;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 3px;
    background-color: gray;
    box-shadow: 2px 2px 2px black;
    padding: 0 5px 0 5px;
    font-size: 14px;
    cursor: pointer;
}

.createNewRvwBtn {
    border: 1px black;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 3px;
    width: 165px;
    background-color: gray;
    box-shadow: -2px 2px 2px black;
    cursor: pointer;
}

.updateSpotBtn {
    border: 1px black;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 3px;
    background-color: gray;
    box-shadow: 2px 2px 2px black;
    padding: 0 5px 0 5px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}


