.loginH1 {
    justify-content: center;
    text-align: center;
    padding-bottom: 0px;
}

.modal {
    width: 100%;
}

.error {
    color: red;
}

#DemoUser {
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2px;
    background-color: gray;
    cursor: pointer;
}

.credentialLabel {
    justify-content: center;
   justify-self: center;
   padding: 2px 10px;
}

.pwordLabel {
    justify-content: center;
    justify-self: center;
    padding: 2px 10px;
}

.signupForm {
    justify-content: center;
    justify-self: center;
    padding: 0px 50px 20px 50px;
}
